/*PADRÃO*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*HEADER*/
#header {
    background: #f7b600;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 1rem
}

.header-logo, .header-navbar {
    padding: 1rem;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5rem;
}

h1 > .header-logo-white {
    color: #FFF;
}

.navbar-item:link, .navbar-item:visited {
    color: #FFF;
    padding: 5px;
}

.navbar-item:hover {
    background: white;
    color: #f7b600
} 


/*PRINCIPAL*/
#principal {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: auto;
}

/*FEED*/
.principal-feed {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.principal-feed-postagem {
    background-color: #FFF;

    height: auto;
    
    margin-bottom: 10px;
    padding: 10px;
}

.principal-feed-postagem > h2 {
    color: #f7b600
}

.principal-feed-postagem > h3 {
    font-size: medium;
}

.principal-feed-postagem > img {
    width: 100%;
    margin: 10px 0;
}

/*FEED LINKS*/
.principal-button:link, .principal-button:visited {
    color: #f7b600;
}

.principal-button:hover {
    text-decoration: underline;
}


/*LATERAL*/
.principal-lateral {
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    gap: 10px;
}

.principal-recentes, .principal-categorias {
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal-recentes-topo, .principal-categorias-topo {
    width: 95%;
    height: auto;
    background: #d3d3d3;
    padding: 0.5rem;
    margin: 1rem;
}

.principal-recentes-topo > h4, .principal-categorias-topo > h4 {
    font-size: 1.3rem;
    color: #4e4e4e;
}

.principal-recentes-post, .principal-categorias-nav {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.principal-categorias-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



/*FOOTER*/
#footer {
    background: #d3d3d3;
    
    width: 80vw;
    display: flex;
    justify-content: center;
    
    margin: auto;
    padding: 1rem;
}

#footer > h1 {
    color: #000;
    font-size: 1.3rem;
}
